<ion-header>
  <drq-header titulo="Atestado"></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Filtros</ion-label>
      <ion-button (click)="onClickLimpar()">Limpar</ion-button>
    </ion-list-header>

    <ion-grid fixed>

      <ion-row>

        <ion-col size="6">

          <ion-item>
            <ion-label position="floating">Início</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Ok" [(ngModel)]="inicio"
              (ionChange)="onChange($event)">
            </ion-datetime>
          </ion-item>

        </ion-col>

        <ion-col size="6">

          <ion-item>
            <ion-label position="floating">Fim</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Ok" [(ngModel)]="fim"
              (ionChange)="onChange($event)">
            </ion-datetime>
          </ion-item>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-list>

</ion-content>