<ion-header>
  <drq-header titulo="Configurar Dados"></drq-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>Dados da Conta</ion-label>
    </ion-item-divider>

    <ion-item button detail routerLink="./{{routes.EDIT_DADOS_CONTA}}">
      <ion-label>
        <h2>Email: {{pessoaFisica.email}}</h2>
        <h2>Documento: {{pessoaFisica.docFiscal}}</h2>
        <h2>Email: {{pessoaFisica.email}}</h2>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="construct"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="createDadoProfissional()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados Profissionais</ion-label>
    </ion-item-divider>

    <ion-item
      *ngFor="let dp of pessoaFisica.dadosProfissao"
      button
      detail
      (click)="openDadoDeProfissao(dp.id)"
    >
      <ion-label>
        <h2>{{dp.nomeProfissao}}</h2>
        <p>{{dp.nomeEspecialidade}}</p>
        <p>{{dp.grauDeInstrucao}}</p>
        <p>{{dp.publico ? 'público': 'privado'}}</p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="card"></ion-icon>
      <ion-label>Dados Bancários</ion-label>
      <ion-button fill="clear" slot="end" (click)="createDadoBancario()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-divider>

    <ion-item
      *ngFor="let db of pessoaFisica.dadosBancarios; let i=index"
      button
      detail
      [routerLink]="['./' + routes.EDIT_DADOS_BANCARIOS, i]"
    >
      <ion-label>
        <h2>{{db.nome}}</h2>
        <p>{{db.codigoDaConta}}</p>
        <p>{{db.publico ? 'público': 'privado'}}</p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="medkit"></ion-icon>
      <ion-label>Planos de Saúde</ion-label>
      <ion-button fill="clear" slot="end" (click)="createDadoPlanoSaude()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item-divider>

    <ion-item
      *ngFor="let dps of pessoaFisica.dadosPlanoSaude; let i=index"
      button
      detail
      [routerLink]="['./' + routes.EDIT_DADOS_PLANO_SAUDE, i]"
    >
      <ion-label>
        <h2>{{dps.nome}}</h2>
        <p>{{dps.registro}}</p>
        <p>{{dps.publico ? 'público': 'privado'}}</p>
      </ion-label>
    </ion-item>

    <!-- Dados de dependentes -->

    <safe-area-bottom></safe-area-bottom>
  </ion-list>
</ion-content>
