<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Selecionar Profissional</ion-title>

    <ion-button (click)="buttonSair()" slot="end" fill="clear" color="light">
      Sair
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let p of profissionais">
      <ion-label class="ion-text-wrap">
        <h2>{{p}}</h2>
        <p>09:45 10:00 10:50 11:30 11:50 12:30 15:00 16:25</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
