<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="app">
        <dir
          name="components">
          <dir
            name="atendimento"/>
          <dir
            name="drq-empty"/>
          <dir
            name="drq-error"/>
          <dir
            name="drq-header"/>
          <dir
            name="drq-loading"/>
          <dir
            name="option-tile"/>
          <dir
            name="requisicao-dados"/>
          <dir
            name="safe-area-bottom"/>
        </dir>
        <dir
          name="models">
          <dir
            name="geral"/>
          <dir
            name="pessoas">
            <dir
              name="pessoa-fisica"/>
            <dir
              name="pessoa-juridica"/>
          </dir>
        </dir>
        <dir
          name="modules">
          <dir
            name="autenticacao">
            <dir
              name="login"/>
          </dir>
          <dir
            name="pessoa-fisica">
            <dir
              name="config-dados"/>
            <dir
              name="edit-dados-bancarios"/>
            <dir
              name="edit-dados-conta"/>
            <dir
              name="edit-dados-expediente"/>
            <dir
              name="edit-dados-plano-saude"/>
            <dir
              name="edit-dados-profissionais"/>
            <dir
              name="home"/>
            <dir
              name="list-agenda"/>
          </dir>
          <dir
            name="pessoa-juridica">
            <dir
              name="edit-dados-conta"/>
            <dir
              name="edit-dados-expediente"/>
            <dir
              name="edit-requisicao-dado"/>
            <dir
              name="edit-unidade"/>
            <dir
              name="home"/>
            <dir
              name="list-agenda"/>
            <dir
              name="list-expedientes"/>
            <dir
              name="list-requisicoes-dado"/>
            <dir
              name="list-unidades"/>
          </dir>
          <dir
            name="shared">
            <dir
              name="agendar"/>
            <dir
              name="edit-atendimento"/>
            <dir
              name="edit-atestado"/>
            <dir
              name="edit-expediente"/>
            <dir
              name="edit-prontuario"/>
            <dir
              name="edit-receita"/>
            <dir
              name="list-atestado"/>
            <dir
              name="list-prontuario"/>
            <dir
              name="list-receita"/>
            <dir
              name="select-horario"/>
            <dir
              name="select-plano-saude"/>
            <dir
              name="select-profissional"/>
          </dir>
        </dir>
        <dir
          name="pipes">
          <dir
            name="capitalize"/>
          <dir
            name="capitalize-for-each"/>
        </dir>
        <dir
          name="services">
          <dir
            name="alert"/>
          <dir
            name="autenticacao"/>
          <dir
            name="cloner"/>
          <dir
            name="loading"/>
          <dir
            name="modal"/>
          <dir
            name="pessoa-fisica"/>
          <dir
            name="pessoa-juridica"/>
          <dir
            name="toast"/>
        </dir>
        <dir
          name="utils"/>
      </dir>
      <dir
        name="environments"/>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
