<ion-header>
  <drq-header titulo="Requisições de Dados"></drq-header>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Filtrar</ion-label>
    </ion-list-header>

    <ion-searchbar animated cancelButtonText="cancelar" enterkeyhint="search" inputmode="text"
      placeholder="Pesquisar por nome" showCancelButton="focus" type="search" (ionChange)="onSearchBarChange($event)">
    </ion-searchbar>

    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="true">Autorizado</ion-select-option>
        <ion-select-option value="false">Não autorizado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="construct"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados Profissionais</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdp of reqDadosProfissao" [requisicaoDados]="rdp">
    </requisicao-dados>

    <ion-item-divider>
      <ion-icon slot="start" name="cash"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados Bancários</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdb of reqDadosBancarios" [requisicaoDados]="rdb">
    </requisicao-dados>

    <ion-item-divider>
      <ion-icon slot="start" name="medkit"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados de Plano de Saúde</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdps of reqDadosPlanoSaude" [requisicaoDados]="rdps">
    </requisicao-dados>

    <!--
    <ion-item-divider>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados de Dependentes</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdd of usuario.requisicoesDadosDependentes" [requisicaoDados]="rdd"></requisicao-dados> 
    -->

  </ion-list>

</ion-content>