<ion-header>
  <drq-header title="Unidades"></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let u of getUnidades(); let i=index" button detail (click)="onClick(i)">

      <ion-label>
        <h2>{{u.nome}}</h2>
        <h2>{{u.endLogradouro}} Nº {{u.endNumero}}, {{u.endBairro}}</h2>
        <h2>{{u.endCidade}} - {{u.endEstado}}</h2>
      </ion-label>

    </ion-item>

    <safe-area-bottom></safe-area-bottom>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>