<ion-header>
  <drq-header titulo="Marcar Consulta"></drq-header>
</ion-header>

<ion-content>
  <ion-accordion-group
    [value]="accordionState"
    (ionChange)="onAccordionChange($event)"
  >
    <ion-accordion [value]="accStates[0]">
      <ion-item color="secondary" slot="header">
        <ion-label>Passo 1: {{accStates[0]}}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-radio-group [value]="dependenteSelecionado">
          <ion-item>
            <ion-label class="ion-text-wrap">Eu</ion-label>
            <ion-radio value="83983"></ion-radio>
          </ion-item>
          <ion-item *ngFor="let d of dependentes">
            <ion-label class="ion-text-wrap">{{d.nome}}</ion-label>
            <ion-radio [value]="d.id"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-item button detail (click)="modal.selecionarPlanoSaude()">
          <ion-label>
            <h2>Plano de saúde</h2>
            <p>Nenhum</p>
          </ion-label>
        </ion-item>

        <ion-item button detail (click)="modal.selecionarPlanoSaude()">
          <ion-label>
            <h2>Escolher Procedimento</h2>
            <p>Nenhum</p>
          </ion-label>
        </ion-item>

        <ion-button
          expand="block"
          color="success"
          (click)="setAccordionNextState()"
        >
          Avançar
        </ion-button>
      </ion-list>
    </ion-accordion>

    <ion-accordion [value]="accStates[1]">
      <ion-item color="secondary" slot="header">
        <ion-label>Passo 2: {{accStates[1]}}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item button detail (click)="modal.selecionarHorario()">
          <ion-label>20 horários disponíveis</ion-label>
          <ion-icon slot="start" name="time"></ion-icon>
        </ion-item>

        <ion-item button detail (click)="modal.selecionarProfissional()">
          <ion-label>5 profissionais disponíveis</ion-label>
          <ion-icon slot="start" name="people-outline"></ion-icon>
        </ion-item>

        <ion-button
          expand="block"
          color="success"
          (click)="setAccordionNextState()"
        >
          Avançar
        </ion-button>
      </ion-list>
    </ion-accordion>

    <ion-accordion [value]="accStates[2]">
      <ion-item color="secondary" slot="header">
        <ion-label>Passo 3: {{accStates[2]}}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item>
          <ion-label class="ion-text-wrap"
            >Consulta marcada por Fulano da Silva <br />
            CPF 083.983.284-28
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">Plano de saúde: AMIL</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">Marcado para 21/08/2021</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap">Com Dra. Fulana do Campo</ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-wrap"
            >Local: Centro de Saúde Soledade II</ion-label
          >
        </ion-item>

        <ion-button
          expand="block"
          color="success"
          (click)="setAccordionNextState()"
        >
          Avançar
        </ion-button>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <safe-area-bottom></safe-area-bottom>
</ion-content>

<!--
  - Cpf do paciente
  - Plano de saúde do paciente
  - Procedimento que o paciente quer
  - Carrega lista de médicos aptos
  - Usuário escolhe se quer ver médicos ou horários
  - Usuário escolhe médico ou horários vago
  - Atendimento pendente
 -->
