<ion-header>
  <drq-header titulo="Dados Profissionais"></drq-header>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Público</ion-label>
    <ion-toggle
      *ngIf="dadoProfissao"
      [(ngModel)]="dadoProfissao.publico"
    ></ion-toggle>
  </ion-item>

  <ion-item button detail (click)="selectProfissao()">
    <ion-label>Profissão: {{nomeProfissao}}</ion-label>
  </ion-item>

  <ion-item button detail (click)="selectEspecialidade()">
    <ion-label>Especialidade: {{nomeEspecialidade}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Grau de Instrução</ion-label>
    <ion-input
      type="text"
      *ngIf="dadoProfissao"
      [(ngModel)]="dadoProfissao.grauDeInstrucao"
    ></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label>Label</ion-label>
  </ion-item-divider>

  <ion-item-divider>
    <ion-label>Expedientes</ion-label>
    <ion-icon slot="end" name="add"></ion-icon>
  </ion-item-divider>

  <div *ngIf="dadoProfissao">
    <ion-item
      *ngFor="let e of dadoProfissao.expedientes"
      button
      detail
      (click)="openExpediente(e.id)"
    >
      <ion-label>
        <h2>{{e.getDiaSemanaFormatado()}}</h2>
        <h2>Por {{e.recorrencia}} dias</h2>
        <p>{{e.getInicioFormatado()}} às {{e.getTerminoFormatado()}}</p>
      </ion-label>
    </ion-item>
  </div>

  <br />

  <ion-button expand="block" color="primary" (click)="saveDadosProfissionais()">
    Salvar
  </ion-button>

  <ion-button
    expand="block"
    color="danger"
    *ngIf="indexDadoProfissao"
    (click)="deleteDadosDeProfissao()"
  >
    Excluir
  </ion-button>

  <safe-area-bottom></safe-area-bottom>
</ion-content>
