<ion-header>
  <drq-header titulo="Atestado"></drq-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>Profissional</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>
        <h2>Dr. Fulano de Tal</h2>
        <p>CRM: 1010</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Clínica Bem Estar</h2>
        <p>Av. Deodoro da Fonseca</p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="today-outline"></ion-icon>
      <ion-label>Documento</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Vigência: 12/09/2020</ion-label>
    </ion-item>

    <ion-item [ngClass]="{'disabled-input': !isEditing}">
      <ion-label>
        <h2>Descrição:</h2>
        <ion-textarea
          type="text"
          placeholder="Atestado"
          [(ngModel)]="descricao"
        ></ion-textarea>
      </ion-label>
    </ion-item>

    <safe-area-bottom [spacing]="2"></safe-area-bottom>

    <ion-button
      (click)="onDownloadButton()"
      size="block"
      color="dark"
      *ngIf="!isEditing"
    >
      <ion-icon slot="start" name="download"></ion-icon>
      Baixar
    </ion-button>
  </ion-list>

  <safe-area-bottom></safe-area-bottom>
</ion-content>
