<ion-content>
  <div class="login-container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <br />
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <safe-area-bottom [spacing]="2"></safe-area-bottom>

      <ion-button expand="block" color="primary" type="submit" shape="round">
        ENTRAR
      </ion-button>

      <safe-area-bottom [spacing]="1"></safe-area-bottom>

      <ion-button
        expand="block"
        color="primary"
        fill="clear"
        (click)="criarConta()"
      >
        Criar conta
      </ion-button>
    </form>
  </div>
</ion-content>
