<ion-header>
  <drq-header titulo="Perfil"></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" value="CSSII"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" value="Centro de Saúde Soledade II"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome fantasia</ion-label>
      <ion-input type="text" value="C&SII"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input type="text" value="80744850000133"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input type="text" value="Melhor Centro de Saúde do Soledade II"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select value="matriz" multiple="false" placeholder="Tipo" interface="popover">
        <ion-select-option value="matriz">Matriz</ion-select-option>
        <ion-select-option value="filial">Filial</ion-select-option>
      </ion-select>
    </ion-item>

    <br />

    <ion-button expand="block" color="primary" type="submit">
      Salvar
    </ion-button>

  </ion-list>

</ion-content>