<ion-header>
  <drq-header title=Home [showArrowBack]=false></drq-header>
</ion-header>

<ion-content>

  <ion-list class="options-list">

    <ion-item>

      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>

      <ion-label>
        <h2>Olá, Dr. Fulano da Silva</h2>
      </ion-label>

      <ion-button fill="clear" (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>

    </ion-item>

    <option-tile title="Agenda" link="/{{routes.PESSOA_FISICA}}/{{routes.AGENDA}}"></option-tile>

    <option-tile title="Prontuários" link="/{{routes.PESSOA_FISICA}}/{{routes.LIST_PRONTUARIOS}}"></option-tile>

    <option-tile title="Receitas" link="/{{routes.PESSOA_FISICA}}/{{routes.LIST_RECEITAS}}"></option-tile>

    <option-tile title="Atestados" link="/{{routes.PESSOA_FISICA}}/{{routes.LIST_ATESTADOS}}"></option-tile>

    <option-tile title="Seu Perfil" link="/{{routes.PESSOA_FISICA}}/{{routes.CONFIG_DADOS}}"></option-tile>

  </ion-list>

  <br />

</ion-content>

<!-- Agenda > Prontuário > Receitas > Atestados > Perfil -->