<ion-header>
  <drq-header titulo="Profissional" [showArrowBack]="false"></drq-header>
</ion-header>

<ion-content>
  <ion-list class="options-list">
    <profissional-item
      *ngIf="profissional!=null"
      [profissional]="profissional"
    ></profissional-item>

    <!-- <option-tile
      icone="calendar-outline"
      title="Marcar Consulta"
      link="/{{routes.PESSOA_FISICA_PROFISSIONAL}}/{{routes.AGENDAR}}"
    >
    </option-tile> -->

    <option-tile
      icone="calendar-number-outline"
      title="Agenda"
      [badge]="5"
      link="/{{routes.PESSOA_FISICA_PROFISSIONAL}}/{{routes.AGENDA}}"
    >
    </option-tile>

    <option-tile
      icone="clipboard-outline"
      title="Prontuários"
      link="/{{routes.PESSOA_FISICA_PROFISSIONAL}}/{{routes.LIST_PRONTUARIOS}}"
    ></option-tile>

    <option-tile
      icone="receipt-outline"
      title="Receituário"
      link="/{{routes.PESSOA_FISICA_PROFISSIONAL}}/{{routes.LIST_RECEITAS}}"
    >
    </option-tile>

    <option-tile
      icone="today-outline"
      title="Atestados"
      link="/{{routes.PESSOA_FISICA_PROFISSIONAL}}/{{routes.LIST_ATESTADOS}}"
    >
    </option-tile>

    <option-tile
      icone="person-circle-outline"
      title="Seu Perfil"
      link="/{{routes.PESSOA_FISICA_PROFISSIONAL}}/{{routes.CONFIG_DADOS}}"
    ></option-tile>

    <ion-item button detail (click)="logOut()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sair da conta</ion-label>
    </ion-item>
  </ion-list>

  <safe-area-bottom></safe-area-bottom>
</ion-content>
