<ion-header>
  <drq-header title=Home [showArrowBack]=false></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>

      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>

      <ion-label>
        <h2>{{usuarioCtrl.usuario.nome}}</h2>
      </ion-label>

      <ion-button fill="clear" (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>

    </ion-item>

    <option-tile title="Requisições de Dados" link="/{{routes.PESSOA_JURIDICA}}/{{routes.LIST_REQUISICOES_DADOS}}">
    </option-tile>

    <option-tile title="Expedientes de Pessoa Jurídica" link="/{{routes.PESSOA_JURIDICA}}/{{routes.LIST_EXPEDIENTES}}">
    </option-tile>

    <option-tile title="Histórico de Atendimentos" link="/{{routes.PESSOA_JURIDICA}}/{{routes.CONFIG_DADOS}}">
    </option-tile>

    <option-tile title="Perfil" link="/{{routes.PESSOA_JURIDICA}}/{{routes.EDIT_DADOS_CONTA}}"></option-tile>

  </ion-list>

  <br />
  <br />
  <br />

  <drq-loading titulo="Carregando seus preciosos dados..."></drq-loading>

  <drq-empty titulo="Nada aqui!" mensagem="Você ainda não tem agenda."></drq-empty>

  <drq-error titulo="Ops!" mensagem="O servidor não está respondendo. Tente novamente mais tarde.">
  </drq-error>

</ion-content>