<ion-header>
  <drq-header titulo="Pessoa Jurídica" [showArrowBack]="false"></drq-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://s3.amazonaws.com/enlizt-resources-prod/companies/a5e86080-7167-11e8-9d23-173efa58bae3_256_avatar?nocache=1529757496082"
        />
      </ion-avatar>

      <ion-label>
        <h2>{{usuarioCtrl.usuario.nome}}</h2>
        <p>{{usuarioCtrl.usuario.email}}</p>
      </ion-label>

      <ion-button fill="clear" (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-item>

    <option-tile
      icone="calendar-outline"
      title="Marcar Consulta"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.AGENDAR}}"
    >
    </option-tile>

    <option-tile
      icone="alert-circle-outline"
      [badge]="10"
      title="Solicitações pendentes"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.AGENDAR}}"
    >
    </option-tile>

    <option-tile
      icone="calendar-number-outline"
      title="Agenda"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.AGENDA}}"
    >
    </option-tile>

    <option-tile
      icone="folder-open-outline"
      title="Requisições de Dados"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.LIST_REQUISICOES_DADOS}}"
    >
    </option-tile>

    <option-tile
      icone="business-outline"
      title="Unidades"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.LIST_UNIDADES}}"
    >
    </option-tile>

    <option-tile
      icone="reader-outline"
      title="Perfil"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.EDIT_DADOS_CONTA}}"
    >
    </option-tile>
  </ion-list>

  <!-- <safe-area-bottom></safe-area-bottom>

  <drq-loading titulo="Carregando dados..."></drq-loading>

  <safe-area-bottom></safe-area-bottom>

  <drq-empty titulo="Nada aqui!" mensagem="Você ainda não tem agenda."></drq-empty>

  <safe-area-bottom></safe-area-bottom>

  <drq-error titulo="Ops!" mensagem="O servidor não está respondendo. Tente novamente mais tarde."></drq-error>

  <safe-area-bottom></safe-area-bottom> -->
</ion-content>
