<ion-header>
  <drq-header title="Pessoa Jurídica" [showArrowBack]=false></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>

      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>

      <ion-label>
        <h2>{{usuarioCtrl.usuario.nome}}</h2>
        <p>{{usuarioCtrl.usuario.username}}</p>
      </ion-label>

      <ion-button fill="clear" (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>

    </ion-item>

    <option-tile icone="calendar-outline" title="Agenda" link="/{{routes.PESSOA_JURIDICA}}/{{routes.AGENDA}}">
    </option-tile>

    <option-tile icone="folder-open-outline" title="Requisições de Dados"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.LIST_REQUISICOES_DADOS}}">
    </option-tile>

    <option-tile icone="business-outline" title="Unidades" link="/{{routes.PESSOA_JURIDICA}}/{{routes.LIST_UNIDADES}}">
    </option-tile>

    <option-tile icone="calendar-outline" title="Histórico de Atendimentos"
      link="/{{routes.PESSOA_JURIDICA}}/{{routes.CONFIG_DADOS}}">
    </option-tile>

    <option-tile icone="reader-outline" title="Perfil" link="/{{routes.PESSOA_JURIDICA}}/{{routes.EDIT_DADOS_CONTA}}">
    </option-tile>

  </ion-list>

  <safe-area-bottom></safe-area-bottom>

  <drq-loading titulo="Carregando dados..."></drq-loading>

  <safe-area-bottom></safe-area-bottom>

  <drq-empty titulo="Nada aqui!" mensagem="Você ainda não tem agenda."></drq-empty>

  <safe-area-bottom></safe-area-bottom>

  <drq-error titulo="Ops!" mensagem="O servidor não está respondendo. Tente novamente mais tarde."></drq-error>

  <safe-area-bottom></safe-area-bottom>

</ion-content>