<ion-header>
  <drq-header titulo="Escolha uma conta"></drq-header>
</ion-header>

<ion-content>
  <h2 class="ion-padding-start">Olá, Victor Emanuel</h2>
  <ion-list>
    <ion-item
      button
      detail
      (click)="selectUserType(drqRoutes.PESSOA_FISICA_PROFISSIONAL)"
    >
      <ion-icon name="medical-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Profissional</h2>
        <p>CRM: 11111</p>
      </ion-label>
    </ion-item>

    <ion-item
      button
      detail
      (click)="selectUserType(drqRoutes.PESSOA_FISICA_PACIENTE)"
    >
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Paciente</h2>
        <p>083.983.123-12</p>
      </ion-label>
    </ion-item>

    <ion-item button detail (click)="selectUserType(drqRoutes.PESSOA_JURIDICA)">
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>Centro de Saúde Soledade II</h2>
        <p>16.249.770/0001-02</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
