<ion-header>
  <drq-header titulo="Editar Expediente"></drq-header>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-item>
    <ion-label>Dia da semana</ion-label>
    <ion-select
      *ngIf="expediente"
      [value]="expediente.diaDaSemana.valueOf()"
      interface="popover"
      placeholder="Dia da semana"
      (ionChange)="onDiaDaSemanaChange($event)"
    >
      <ion-select-option
        *ngFor="let ds of diasSemana; let i = index"
        [value]="i"
      >
        {{diaDaSemanaNome(ds) | capitalize}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Recorrência</ion-label>
    <ion-input
      *ngIf="expediente"
      type="number"
      placeholder="Recorrência"
      [(ngModel)]="expediente.recorrencia"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Hora início</ion-label>
    <ion-datetime
      *ngIf="expediente"
      #horaInicioDateTime
      display-format="HH:mm"
      presentation="time"
      locale="pt-BR"
      hourCycle="h23"
      cancelText="Cancelar"
      doneText="OK"
      [value]="'1970-01-01T'+getTimeFormatado(expediente.inicio)"
      (ionChange)="expediente.inicio = getTimeFromString(horaInicioDateTime.value)"
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora fim</ion-label>
    <ion-datetime
      *ngIf="expediente"
      #horaFimDateTime
      display-format="HH:mm"
      presentation="time"
      locale="pt-BR"
      hourCycle="h23"
      cancelText="Cancelar"
      doneText="OK"
      [value]="'1970-01-01T'+getTimeFormatado(expediente.termino)"
      (ionChange)="expediente.termino = getTimeFromString(horaFimDateTime.value)"
    ></ion-datetime>
  </ion-item>

  <ion-button
    (click)="onSave()"
    size="block"
    class="ion-margin-top ion-margin-bottom"
  >
    Concluir
  </ion-button>

  <safe-area-bottom></safe-area-bottom>
</ion-content>
