<ion-header>
  <drq-header titulo="Atestados"></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>
        <h2>Filtros</h2>
      </ion-label>
      <ion-button (click)="onClickLimpar()">Limpar</ion-button>
    </ion-list-header>

    <ion-grid fixed>

      <ion-row>

        <ion-col size="6">

          <ion-item button>
            <ion-icon name="calendar-outline" slot="end" (click)="escolherDataInicio()"></ion-icon>
            <ion-label>Depois de</ion-label>
          </ion-item>

        </ion-col>

        <ion-col size="6">

          <ion-item button>
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
            <ion-label>Antes de</ion-label>
          </ion-item>

        </ion-col>

      </ion-row>

    </ion-grid>

    <safe-area-bottom [spacing]="1"></safe-area-bottom>

    <ion-item-divider>
      <ion-label color="dark">
        <h2>Resultado</h2>
      </ion-label>
    </ion-item-divider>

    <ion-item button detail>
      <ion-label>
        <h2>Clínica Médica do Alecrim</h2>
        <h2>Dr. Fulano da Silva</h2>
        <p>12/09/2020 até 13/09/2021</p>
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-label>
        <h2>Centro de Saúde</h2>
        <h2>Dr. Fulano da Silva</h2>
        <p>24/12/2020</p>
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-label>
        <h2>Clínica do Alecrim</h2>
        <h2>Dr. Fulano da Silva</h2>
        <p>12/09/2020</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <safe-area-bottom></safe-area-bottom>

</ion-content>