<ion-header>
  <drq-header title="Dados Profissionais"></drq-header>
</ion-header>

<ion-content>

  <form *ngIf="dadosProfissaoForm" [formGroup]="dadosProfissaoForm" (ngSubmit)="saveDadosProfissionais()">

    <ion-item>
      <ion-label>Público</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Profissao</ion-label>
      <ion-input formControlName="profissao" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Especialidade</ion-label>
      <ion-input formControlName="especialidade" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Grau de Instrução</ion-label>
      <ion-input formControlName="grauDeInstrucao" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Conselho de Classe</ion-label>
      <ion-input formControlName="conselhoDeClasse" type="text"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label>Expedientes</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let e of dadoProfissao.expedientes; let i=index" button detail
      [routerLink]="['./' + routes.EDIT_DADOS_EXPEDIENTE, i]">
      <ion-label>
        <h2>{{e.diaDaSemanaNome}}</h2>
        <h2>Por {{e.recorrencia}} dias</h2>
        <p>{{e.inicio}} às {{e.termino}}</p>
      </ion-label>
    </ion-item>

    <br />

    <ion-button expand="block" color="primary" type="submit">
      Salvar
    </ion-button>

  </form>

</ion-content>