<ion-header>
  <ion-toolbar>
    <ion-title>Pessoa Física</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Olá, Dr. Fulano da Silva</ion-label>
      <ion-button>
        <!-- (click)="onClick()" -->
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-item button (click)="pushDadosPessoais(item)">
      Dados pessoais
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>