<ion-header>
  <drq-header titulo="Hipotireoidismo"></drq-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-icon slot="start" name="receipt"></ion-icon>
      <ion-label>Receita</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-icon name="medkit-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h1 class="ion-padding-bottom">
          <b>Levotiroxina sódica 88mcg</b>, Comprimido
        </h1>
        <h2>Tomar 1 comprimido pela manhã, 30 min antes de se alimentar</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="medkit-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h1 class="ion-padding-bottom">
          <b>Sinvastanina 20 mg</b>, Comprimido
        </h1>
        <h2>Tomar 1 comprimido à noite</h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="eyedrop-outline" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h1 class="ion-padding-bottom"><b>Fórmula</b></h1>
        <p>Vitamina D (Colecalciferol): 25.0 Ul</p>
        <p>Cápsula oleosa q.s.p: 12 un</p>
        <p>
          Tomar 2 cápsulas, 1 vez por semana, após as refeições, durante 4
          semanas. <br />
          Após, tomar 1 cápsula 1 vez por semana, após refeição, dirante 4
          semana.
        </p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>Profissional</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>
        <h2>Dr. Fulano de Tal</h2>
        <p>CRM: 1010</p>
        <p>Hospital do Coração</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>
      <h2>Criado em:</h2>
      <p>Quarta, 04 de Novembro de 2021</p>
      <p>18:00</p>
    </ion-label>
  </ion-item>

  <safe-area-bottom></safe-area-bottom>
</ion-content>
