<ion-header>
  <drq-header title="Requisições de Dados"></drq-header>
</ion-header>

<ion-content>
  <ion-searchbar animated cancelButtonText="cancelar" enterkeyhint="search" inputmode="text"
    placeholder="Pesquisar nome" showCancelButton="focus" type="search" (ionChange)="onSearchBarChange($event)">
  </ion-searchbar>

  <ion-list>

    <ion-item-divider>
      <ion-icon slot="start" name="construct"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados Profissionais</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdp of reqDadosProfissao; let i=index" [requisicaoDados]="rdp" [index]="i">
    </requisicao-dados>

    <ion-item-divider>
      <ion-icon slot="start" name="cash"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados Bancários</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdb of reqDadosBancarios; let i=index" [requisicaoDados]="rdb" [index]="i">
    </requisicao-dados>

    <ion-item-divider>
      <ion-icon slot="start" name="medkit"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados de Plano de Saúde</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdps of reqDadosPlanoSaude; let i=index" [requisicaoDados]="rdps" [index]="i">
    </requisicao-dados>
    <!-- 
    <ion-item-divider>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados de Dependentes</ion-label>
    </ion-item-divider>

    <requisicao-dados *ngFor="let rdd of usuario.requisicoesDadosDependentes; let i=index" [requisicaoDados]="rdd"
      [index]="i"></requisicao-dados> -->

  </ion-list>

</ion-content>