<ion-header>
  <drq-header title="Requisições de Dados"></drq-header>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-divider>
      <ion-icon slot="start" name="construct"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados Profissionais</ion-label>
    </ion-item-divider>

    <ion-item button detail>
      <ion-label>
        <h2>Dr. Fulano da Silva</h2>
        <h2>CRM: 12345</h2>
        <p>
          público
          <ion-icon slot="end" color="success" name="checkmark"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-label>
        <h2>Dra. Fulana Campos</h2>
        <h2>CRM: 54321</h2>
        <p>privado</p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-icon slot="start" name="medkit"></ion-icon>
      <ion-button fill="clear" slot="end" (click)="onClick()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-label>Dados de Plano de Saúde</ion-label>
    </ion-item-divider>

    <ion-item button detail>
      <ion-label>
        <h2>Dr. Fulano da Silva</h2>
        <h2>Hapvida</h2>
        <p>privado</p>
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-label>
        <h2>Dra. Fulana Campos</h2>
        <h2>AMIL</h2>
        <p>
          público
          <ion-icon slot="end" color="success" name="checkmark"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>